body {
  font-family: "Arial", sans-serif;
  text-align: center;
  background-color: #d3d3d3;
  padding: 20px;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 10px;
  background-color: #f3ebeb;
}

.header {
  padding: 10px;
}

.logo {
  width: 200px;
  height: 200px;
  margin-bottom: 0;
}

.bell-button, .todo {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.5s;
}

.bell-button {
  top: 40px;
  left: 40px;
}

.bell-button:hover, .todo:hover {
  transform: scale(1.1);
}

.bell-icon, .todo-icon {
  width: 50px;
  height: 50px;
}

.todo {
  top: 40px;
  right: 40px;
}

.features {
  margin-top: 0;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.feature-list {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
}

.feature-item img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  transition: transform 0.2s;
}

.feature-item img:hover {
  transform: scale(1.1);
}

.feature-item p {
  font-size: 12px;
  color: #333;
}

button, .feature-item button, .modal-content button, .popup-content button, #clear-todos-btn, #add-block-site-btn, #save-resource-btn, #view-saved-resources-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover, .feature-item button:hover, .modal-content button:hover, .popup-content button:hover, #clear-todos-btn:hover, #add-block-site-btn:hover, #save-resource-btn:hover, #view-saved-resources-btn:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

button {
  padding: 10px;
}

#saveNote {
  margin-top: 10px;
}

#savedNotesContainer {
  margin-top: 20px;
}

#clearAllNotes {
  background-color: #ff6347;
  margin-top: 10px;
}

#clearAllNotes:hover {
  background-color: #e74c3c;
}

.delete-btn {
  background-color: transparent;
  color: red;
  border: none;
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.2s ease, font-size 0.2s ease;
}

.delete-btn:hover {
  color: darkred;
  font-size: 22px;
}

#timerDisplay {
  font-size: 32px;
  margin: 20px 0;
}

#stopwatch button {
  margin: 5px;
}

.timer-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.timer-icon {
  width: 30px;
  height: 30px;
}

.red-indicator {
  color: red;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 500px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}

.popup-content {
  display: flex;
  flex-direction: column;
}

.popup-content input, .popup-content textarea {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.close-btn, .close-todo-modal-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}

.close, .close-todo-modal-btn {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close-todo-modal-btn:hover, .close:focus, .close-todo-modal-btn:focus {
  color: #000;
  text-decoration: none;
}

.todo-btn, .popup-button {
  display: block;
  margin-top: 20px;
  width: 100%;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.todo-btn:hover, .popup-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
